@import url("./../public/fonts/iran-sans5/css/fontiran.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Step 1: Create a fallback */
:root {
  --vh: 1vh;
  --colorPrimary: #3f5f90;
  --colorSecondary: #d9e3f8;
  --primaryWhiteBgColor: #f9f9ff;
  --spaceGray: #f5f5fb;
  --blackColor: #191c20;
  --colorLight: #43474e;
}

@supports (height: 100dvh) {
  .h-screen {
    height: calc(var(--vh, 1vh) * 100) !important;
  }
  .min-h-screen {
    min-height: calc(var(--vh, 1vh) * 100) !important;
  }
}

html,
body {
  @apply bg-white;
  height: 100%;
  margin: 0;
}

* {
  font-family: IRANSans, sans-serif;
}

body {
  font-weight: 300;
  font-size: 100%;
  direction: rtl;
  background: var(--spaceGray);
  background: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.no-spinner {
  -moz-appearance: textfield !important;
}
